html, body html, body { height: 100% }
body { padding-top:64px}


h1, h2, h3, h4, p, li { font-family: 'Lato', sans-serif }
h1, h3 { font-weight: 900 }
h2.text-center, h4, p, li { font-weight: 400 }

.navbar-nav a.nav-link { text-transform: uppercase; font-weight: 700; margin-left: 30px }
.container-section-heading { text-align: center }
.container-section-heading p { color:#222; font-size:32px; text-align: center; margin: 0 auto; width: 60% }
.container-section-heading hr.color-center-line { text-align: center; margin: 12px auto 72px auto;  height: 6px; width: 30% }
.navbar-nav a.nav-link { font-size: 18px; margin-left: 20px}

.bg-footer { background: #2c3e50; padding: 42px 0 48px 0  }
.container-footer h4, p, p a { color: #fff }
.container-footer h4 { margin-bottom: 6px; font-weight: 700; font-size:18px }
.container-footer p { margin-bottom: 3px }
.container-footer .col-md-8 h4,
.container-footer .col-md-8 p { text-align: center; margin: 0 16% 12px 16% }
.container-footer p a:hover, .container-footer p a:active { color: #fff; text-decoration: underline }




.jumbotron {
	background-image: url('../img/drogheda.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 480px; width: auto;
	padding: 10% 0 0 0;
	text-align: center;
	position: relative;
	z-index: 1;
}

.jumbotron::after {
	content: ''; position: absolute;
	top: 0; left: 0; right: 0; bottom: 0; height: 480px;
	background: rgba(20, 20, 20, .3);
	z-index: -1
}

.jumbotron h1, .jumbotron p.lead {
	margin: 0 auto; padding: 0; color:#ecf0f1;
}

.jumbotron h1 {
	font-size:72px; font-weight: 900;
	margin-bottom:2%;
	text-shadow: 2px 2px #222;
	font-family: 'Lato',sans-serif;
}

.jumbotron p.lead {
	font-size:32px; font-weight:400;
	max-width:60%;
}

h2.text-center { font-size: 32px; color:#2980b9}

.col-md-6 h3 { font-size: 32px; font-weight:900; color:#2980b9}
.col-md-6 p { font-size: 18px }

p.introduction { font-size: 24px; padding-bottom: 2% }

h4 { margin-bottom: 2px }

.col-md-6.padding-top-bottom { padding: 10% 0 10% 0}
.col-md-6.narrow-col { padding-left:8%; padding-right:8% }

.background-highlight {
	padding: 3% 0;
	background:#e3e3da;
	margin-bottom:4%
}

@media all and (max-width: 767px) {

	.navbar-nav a.nav-link { font-size: 16px; margin-left: 0 }
	.navbar .btn.btn-success { margin-top: 12px; margin-bottom: 10px; }

	.jumbotron, .jumbotron::after { height: 400px }
	.jumbotron::after { background: rgba(20, 20, 20, .4) }
	.jumbotron h1 { font-size: 48px }
	.jumbotron p.lead { font-size: 24px; max-width: 80% }

	h2.text-center { font-size: 32px }

	p.introduction { font-size: 18px }

	.col-md-6 h3 { font-size: 24px }
	.col-md-6 p { font-size: 15px }

	.col-md-6.padding-top-bottom { padding-top: 6%; padding-bottom: 2% }

	h4 { font-size: 22px }

	.background-highlight { padding: 6% 0 4% 0; margin-bottom: 4% }
	.background-highlight .col-md-3 p { width: 78%; margin-left: auto; margin-right: auto }


	.bg-footer { padding: 8px 0 26px 0 }
	.container-footer h4, p { margin-bottom: 6px }
	.container-footer .col-md-2 h4, .container-footer .col-md-8 h4 { margin-top:20px; font-size:15px; text-align: left }
	.container-footer .col-md-8 p,  .container-footer .col-md-8 p {  font-size:14px; text-align: left }

	.container-footer .col-md-2 p  { margin: 0 0 8px 0 }
	.container-footer .col-md-8 h4 { font-size:15px; margin: 20px 0 0 0; }
	.container-footer .col-md-8 p {  margin: 0 0 12px 0}
}